<footer id="main-footer">
	<div class="footer-content container">
		<div class="atendimento-content">
			<h3>Atendimento</h3>
			<p>Segunda à Quinta-feira <br> Das 9h às 12h - 13h30 às 16h</p>
		</div>
		<div class="address-content">
			<h3>Endereço</h3>
			<p>Rua Carlos Linck, nº 20, Centro, Gravataí/RS</p>
		</div>
		<div class="phone-content">
			<h3>Telefones</h3>
			<p>Escritório: (51)3042-5740</p>
			<p>WhatsApp: (51)99582-3059</p>
			<p>Dr. Clécio: (51)99983-5798</p>
			<p>Dra. Rosa: (51)99134-9115</p>
		</div>
	</div>
	<div class="footer-footer container">
		<p>&copy; 2020 Zanotti & Moraes | Feito por Guilherme Bordignon</p>
	</div>
</footer>