<footer id="main-footer">
	<div class="footer-content container">
		<div class="phone-content">
			<h3>Telefones</h3>
			<p>(51)3042-5555</p>
			<p>(51)99582-3059</p>
		</div>
		<div class="address-content">
			<h3>Endereço</h3>
			<p>Rua Carlos Linck, nº 20, Centro, Gravataí/RS</p>
		</div>
		<div class="atendimento-content">
			<h3>Atendimento</h3>
			<p>Segunda à quinta-feira</p>
			<p>Das 9h às 12h - 13h30 às 16h</p>
		</div>
	</div>
	<div class="footer-footer container">
		<p>&copy; 2020 Zanotti & Moraes | Feito por Guilherme Bordignon</p>
	</div>
</footer>