#main-footer {
	background: black;
	color: #fff;
	padding: 2rem;

	.footer-content {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		margin-bottom: 3rem;
		color: #fff;
		h3 {
			font-size: 1.3rem;
			padding: 1rem 0;
			text-transform: uppercase;
		}
		p {
			color: #fff;
			padding: 0.3rem 0;
			font-size: 1.1rem;
			font-family: 'Dosis';
		}
		span {
			color: #fff;
		}
		.phone-content, .address-content, .atendimento-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	.footer-footer {
		p {
			color: #fff;
			font-size: 0.9rem;
		}
	}
}

@media only screen and (max-width: 768px) {
	#main-footer {
		.footer-content {
			h3 {
				font-size: 1rem;
			}
			p {
				font-size: 0.9rem;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#main-footer {
		.footer-content {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.phone-content, .address-content, .atendimento-content {
				width: 10rem;
				text-align: center;
			}
		}
		.footer-footer {
			text-align: center;
		}
	}
}