#areas {
	margin: 2rem 0 4rem 0;
	text-align: center;
	.box-container {
		max-width: 960px;
		margin: 2rem auto 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.box {
			padding: 0 2rem;
			text-align: center;
			h3 {
				padding: 0.5rem 0;
				font-size: 1.5rem;
				text-transform: uppercase;
				color: #00608a;
			}
			p {
				padding: 0.5rem;
				font-size: 1.2rem;
			}
			.icon {
				width: 3rem;
			}
		}
	}
	.buttons-container {
		margin-top: 2rem;
		a {
			margin: 0 2rem;
		}
	}
}

#about-us {
	display: grid;
	grid-template-columns: 1fr 1fr;
	.img-container {
		img {
			object-fit: cover;
			height: 100%;
			display: block;
		}
	}
	.text-container {
		display: flex;
		background: #f4f4f4;
		padding: 2rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			
			margin-bottom: 3rem;
		}
		p {
			max-width: 30rem;
			margin-bottom: 3rem;
			text-align: center;
		}
		a {
			background: #00608a;
			color: #fff;
			&:hover {
				opacity: 0.9;
			}
		}
	}
}

#contact-us {
	text-align: center;
	a {
		margin: 3rem;
		background: black;
		color: #fff;
		&:hover {
			opacity: 0.9;
		}
	}
}


@media(max-width: 768px) {
	#areas {
		.box-container {
			flex-direction: column;
			max-width: 500px;
			.box {
				margin-bottom: 2rem;
			}
		}
	}
}

@media(max-width: 600px) {
	#banner-home {
		margin-top: 15rem;
	}
	#about-us {
		display: grid;
		grid-template-columns: 1fr;
		.img-container {
			img {
				display: none;
			}
		}
	}
}


