#contact-page {
	max-width: 1280px;
	margin: 8rem auto 3rem auto;

	.columns {
		display: flex;
		justify-content: space-around;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.box {
			padding: 0 2rem;
			width: 100%;
			&:last-child {
				margin-right: 0;
			}
			h3 {
				
				padding: 0.5rem 0;
				font-size: 1.2rem;
				text-transform: uppercase;
			}
			iframe {
				width: 300px;
				height: 300px;
				margin-top: 1rem;
			}
			p {
				padding: 0.2rem 0;
				font-size: 1.2rem;
				font-family: 'Dosis';
			}
		}
	}
	.form-container {
		padding: 2rem 2rem;
		color: #fff;
		background: black;
		width: 30rem;
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.7rem;
		}
		form {
			width: 80%;
			margin: 2rem auto;
			.input-container	{
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;
				label {
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 0.5rem;
				}
				input, textarea {
					width: 100%;
					background: #f4f4f4;
					box-sizing: border-box;
					padding: 0.5rem;
					font-size: 1rem;
					border-radius: 5px;
				}
				textarea {
					height: 12rem;
				}

			}
			.btn-form {
				box-sizing: border-box;
				width: 100%;
				padding: 0.8rem 0;
				font-size: 1rem;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff;
				background: #003952;
				border: none;
				border-radius: 5px;
			}
		}

	}
}

@media(max-width: 768px) {
	#contact-page {
		padding: 0 3rem;
		.columns {
			flex-direction: column;
			align-items: center;
		}
		.box-container {
			margin-bottom: 3rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.form-container {
		}
	}
}

@media(max-width: 600px) {
	#contact-page {
		margin-top: 21rem;
		.form-container {
			width: 25rem;
			form {
				.input-container {
				}
			}
		}
	}
}