@import 'config';
@import 'utilities';
@import 'header';
@import 'banners';
@import 'home';
@import 'lawyers';
@import 'areas';
@import 'contact';
@import 'footer';


// Fonts Dosis = geral, Garamond = big uppercase, Lovelo = links uppercase
* {
	margin: 0;
	padding: 0;

}

body {
	font-family: 'Dosis', sans-serif;
	background: #fff;
	box-sizing: border-box;
}

p {
	font-family: 'Circe', sans-serif;;
	color: #38393a;
}

span {
	font-family: 'Circe', sans-serif;;
}

a {
	text-decoration: none;
	color: #000;
	font-family: Lovelo, sans-serif;;
	font-weight: 700px;
	letter-spacing: 2px;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}